
.company {
    display: flex;
    margin-top: 1em;
}

.card {
    padding: 0.8em !important;
    padding-bottom: 0.6em !important;
    width: 250px;
    background-color: aquamarine;
}

.card-details {
    display: flex;
    justify-content: space-between;
}

.tree {
    min-width: 300px;
}